@import 'mixins';

@include reset(); // Сброс стилей

@import 'mixingrid';

// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1480px; // Максимальная ширина контейнера
$gutter: 20px; // Расстояние между колонками
$offset: 30px; // Поля контейнера
$offset-sm: 15px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 1440px;
$break_lg: 1200px;
$break_md: 1024px;
$break_sm: 769px;
$break_xs: 425px;

// Шрифты
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Light", 300, normal);
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Regular", normal, normal);
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Italic", normal, italic);
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Medium", 500, normal);
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Bold", bold, normal);
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Black", 900, normal);


// Цвета
$red: #e12025;
$gray: #F8F8F8;
$bd: #e2e2e2;

$trans: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;

// Блоки стилей
@import 'template';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/banner';
@import 'blocks/tabs';
@import 'blocks/card';
@import 'blocks/slider';
@import 'blocks/video';
@import 'blocks/steps';
@import 'blocks/callback';
@import 'blocks/gallery';
@import 'blocks/footer';
@import 'blocks/form';
@import 'blocks/breadcrumbs';
@import 'blocks/filter';
@import 'blocks/productItem';
@import 'blocks/productColor';
@import 'blocks/productSize';
@import 'blocks/bonuses';
@import 'blocks/productDesc';
@import 'blocks/cards';
@import 'blocks/aboutWelcome';
// @import 'blocks/mmenu';
@import 'blocks/modal';
// @import 'blocks/tooltipster-noir';