// aboutDesc
.aboutDesc
  .wrapper
    .aboutDesc_img
      img(src="img/wooman.jpg", alt="").lazy
    .aboutDesc_text
      h2.title Кто мы?
      p YamFlowers - Интернет магазин букетов нетипичного формата! Составляем букеты и композиции с клубникой, которые вызывают лучшие эмоции!
      p Мы вкладываем душу в создание чудесных букетов, и даем возможность сделать это Вам самостоятельно - внести любые корректировки в букет
//	/aboutDesc