mixin aboutWelcome(img,text,title)
  // aboutWelcome
  .aboutWelcome
    .wrapper
      .title= title
    .aboutWelcome_block(style= img)
      .wrapper
        h1.aboutWelcome_title= text
  //	/aboutWelcome