// banner
.banner
  .wrapper
    .banner_slider
      .js-banner-slider
        .banner_slide
          .banner_block
            .banner_content
              .banner_title Клубничный бокс комплимент в подарок к первому заказу
              p Пройди регистрацию и получи приятный подарок! Нажимай на кнопку!
              .banner_btn.btn-red Получить подарок
            .banner_img
              img(src="img/banner_1.png", alt="")
        .banner_slide
          .banner_block
            .banner_content
              .banner_title Клубничный бокс комплимент в подарок к первому заказу
              p Пройди регистрацию и получи приятный подарок! Нажимай на кнопку!
              .banner_btn.btn-red Получить подарок
            .banner_img
              img(src="img/banner_1.png", alt="")
      .banner_arrows
        .banner_arrow.banner_arrow--prev.img-responsive
          .banner_arrow-img.img-responsive
            img(src="img/arrow-bold.svg", alt="arrow")
        .banner_arrow.banner_arrow--next.img-responsive
          .banner_arrow-img.img-responsive
            img(src="img/arrow-bold.svg", alt="arrow")
  .banner_dots
        span Клубничный бокс
//	/banner