// bonuses
.bonuses
  .wrapper
    .row

      .bonuses_col
        .bonuses_item
          .bonuses_icon
            img(src="img/photo.svg", alt="")
          .bonuses_text
            .bonuses_title Фото перед отправкой
            p Можем прислать фото в whatsapp перед отправкой. Сообщите об этом менеджеру или укажите при заказе на сайте

      .bonuses_col
        .bonuses_item
          .bonuses_icon
            img(src="img/prize.svg", alt="")
          .bonuses_text
            .bonuses_title Подарок к букету
            p Клубничный комплимент в коробочке бесплатно к первому заказу

      .bonuses_col
        .bonuses_item
          .bonuses_icon
            img(src="img/time.svg", alt="")
          .bonuses_text
            .bonuses_title Экспресс заказ
            p Доставим букет сегодня, но лучше заказывать заранее
//	/bonuses