// callback
.callback
  .wrapper
    form(action="").callback_form
      h2.callback_title Подобрать букет
      .callback_text Флорист подберет лучший букет под ваши пожелания.
      .row
        .callback_block
          .callback_name Ваше имя:
          .callback_input
            input(type="text" name="name")
        .callback_block
          .callback_name Ваш e-mail:
          .callback_input
            input(type="text" name="tel")
      .callback_consent
        input(type="checkbox")#callbackCheckbox.callback_checkbox
        label(for="callbackCheckbox").callback_label Даю согласие на обработку персональных данных
      button(type="submit").btn-red Оставить заявку
//	/callback