// cartResult
.cartResult
  .cartResult_title Ваш заказ: 
    span.cartResult_countProduct 3 товара - 
    span.cartResult_priceProduct 5 429₽
  .cartResult_storefront_wrap
    .cartResult_storefront.scrollbar-inner.js-scrollbar
      .cartResult_storefront-in

        .cartItem
          .cartItem_img
            img(src="img/flower_1.jpg", alt="")
          .cartItem_name Рапунцель S
          .cartItem_count
          .cartItem_price 2 129₽
          .cartItem_remove

        .cartItem
          .cartItem_img
            img(src="img/flower_2.jpg", alt="")
          .cartItem_name Тиффани M
          .cartItem_count
          .cartItem_price 2 129₽
          .cartItem_remove
          
        .cartItem
          .cartItem_img
            img(src="img/flower_3.jpg", alt="")
          .cartItem_name Тиффани M
          .cartItem_count
          .cartItem_price 2 129₽
          .cartItem_remove

  .cartResult_price Стоимость:
    span 4 129₽
  .cartResult_price Доставка:
    span 300₽
//	/cartResult