// cartIcons
.cartIcons
  .cartIcons_row
    .cartIcons_col
      .cartIcons_item
        .cartIcons_icon
          img(src="img/carticon1.svg", alt="")
        .cartIcons_text Добавить<br>открытку
    .cartIcons_col
      .cartIcons_item
        .cartIcons_icon
          img(src="img/carticon2.svg", alt="")
        .cartIcons_text Добавить<br>топпер
    .cartIcons_col
      .cartIcons_item
        .cartIcons_icon
          img(src="img/carticon3.svg", alt="")
        .cartIcons_text Добавить<br>шары
//	/cartIcons