// footer
footer.footer
	.footer_top
		.wrapper
			.footer_logo
				.logo
					a(href="home.html")
						img(src="img/logo.png", alt="logo")
				.social.social--md-small
					a(href="#").social_link.img-responsive
						span.social_img.img-responsive
							img(src="img/messenger.svg", alt="messenger")
					a(href="#").social_link.img-responsive
						span.social_img.img-responsive
							img(src="img/insta.svg", alt="instagram")
			.footer_lists
				.footer_catalog
					.footer_title Каталог
					.footer_row
						ul.footer_list
							li
								a(href="#") Клубничные букеты
							li
								a(href="#") Хит Букеты
							li
								a(href="#") Воздушные боксы
							li
								a(href="#") Клубничные боксы
							li
								a(href="#") Цветочные букеты
							li
								a(href="#") Premium букеты
							li
								a(href="#") Детские букеты
							li
								a(href="#") Мужские букеты
							li
								a(href="#") Гелиевые шары
				.footer_company
					.footer_title Компания
					ul.footer_list
						li
							a(href="#") Доставка
						li
							a(href="#") О нас
						li
							a(href="#") Контакты
			#toUp.footer_up
				a(href="#header").btn-transparent наверх
	.footer_bottom
		.wrapper
			span YamFlowers &copy; 2020.  Все права защищены
			a(href="#") Политика конфиденциальности
// /footer