// gallery
.gallery
  .wrapper
    h2.title
      a(href="#") Подписывайтесь
      |  на наш инстаграмм
  .row
    .gallery_col
      a(href="#").gallery_img.img-responsive
        img(src="img/gallery_1.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive
        img(src="img/gallery_2.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive
        img(src="img/gallery_3.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive
        img(src="img/gallery_4.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive
        img(src="img/gallery_5.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive
        img(src="img/gallery_6.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive.mobile-hide
        img(src="img/gallery_7.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive.mobile-hide
        img(src="img/gallery_8.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive.mobile-hide
        img(src="img/gallery_9.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
    .gallery_col
      a(href="#").gallery_img.img-responsive.mobile-hide
        img(src="img/gallery_10.jpg", alt="").lazy
        span.gallery_content
          span.gallery_title Более тысячи отзывов в нашем instagram
          span.gallery_text Работаем с 2017 года и осуществили более 3.000 заказов
//	/gallery