// header
header.header#header
	.wrapper

		.header_top

			.js-CityMenuBtn.js-menuBtn.city
				span Санкт Петербург
				.city_icon.img-responsive
					img(src="img/arrow.svg", alt="arrow")

			a(href="tel:+79173261262").tel +7 (917) 326-12-62

		.header_bottom

			.header_item.header_item--left
				
				.js-headerMenuBtn.js-menuBtn.menu_btn.hamburger.hamburger--elastic
					.hamburger-box
						.hamburger-inner

				.js-CityMenuBtn.js-menuBtn.city.mobile-hide
					span Санкт Петербург
					.city_icon.img-responsive
						img(src="img/arrow.svg", alt="arrow")

			.header_item
				.logo
					a(href="home.html")
						img(src="img/logo.png", alt="logo")

			.header_item.header_item--right
		
				a(href="tel:+79173261262").tel.mobile-hide +7 (917) 326-12-62

				.social.social--md-hide
					a(href="#").social_link.img-responsive
						span.social_img.img-responsive
							img(src="img/messenger.svg", alt="messenger")
					a(href="#").social_link.img-responsive
						span.social_img.img-responsive
							img(src="img/insta.svg", alt="instagram")

				.cart
					.cart_price 5 329₽
					.cart_icon.img-responsive
						.cart_img.img-responsive
							img(src="img/cart.svg", alt="cart")
						.cart_num 3

	.js-tabs-3.tabs_menu.tabs_menu--mb
		.wrapper
			ul#tabs_triggers.tabs_triggers
				li(data-trigger="0").js-tabs-trigger.active
					a(href="#") Все категории
				li(data-trigger="1").js-tabs-trigger
					a(href="#") Клубничные букеты
				li(data-trigger="2").js-tabs-trigger
					a(href="#") Клубничные боксы
				li(data-trigger="3").js-tabs-trigger
					a(href="#") Воздушные боксы
				li(data-trigger="4").js-tabs-trigger
					a(href="#") Хит Букеты
				li(data-trigger="5").js-tabs-trigger
					a(href="#") Букеты
				li(data-trigger="6").js-tabs-trigger
					a(href="#") Букеты клубничные
				li.tabsDrop
					span.tabsDrop_span.mobile-hide Показать еще
					span.tabsDrop_span.mobile-visible Показать все категории
					img(src="img/arrow.svg", alt="arrow")
					ul#tabsDrop_list.tabsDrop_list
// /header

// menu
.js-headerMenu.js-menu.menu
	nav.menu_nav
		ul.menu_list
			li
				a(href="#") Каталог
			li
				a(href="#") О нас
			li
				a(href="#") Отзывы
			li
				a(href="#") Доставка
			li
				a(href="#") Статьи
			li
				a(href="#") Контакты
		.social
			a(href="#").social_link.img-responsive
				span.social_img.img-responsive
					img(src="img/messenger.svg", alt="messenger")
			a(href="#").social_link.img-responsive
				span.social_img.img-responsive
					img(src="img/insta.svg", alt="instagram")
		//- #menu-close.menu_close
// /menu

// menuCity
.js-CityMenu.js-menu.menu
	nav.menu_nav
		ul.menu_list
			li
				a(href="#") Санкт-Петербург
			li
				a(href="#") Саратов
		//- #menu-close.menu_close
// /menuCity