// header
header.header#header
	.wrapper

		.header_item
			
			.js-headerMenuBtn.menu_btn.hamburger.hamburger--elastic
				.hamburger-box
					.hamburger-inner

			.js-CityMenuBtn.city
				span Санкт Петербург
				.city_icon.img-responsive
					img(src="img/arrow.svg", alt="arrow")

		.header_item
			.logo
				a(href="home.html")
					img(src="img/logo.png", alt="logo")

		.header_item
		
			a(href="tel:+79173261262").tel +7 (917) 326-12-62

			.social.social--md-hide
				a(href="#").social_link.img-responsive
					span.social_img.img-responsive
						img(src="img/messenger.svg", alt="messenger")
				a(href="#").social_link.img-responsive
					span.social_img.img-responsive
						img(src="img/insta.svg", alt="instagram")

			.cart
				.cart_price 5 329₽
				.cart_icon.img-responsive
					.cart_img.img-responsive
						img(src="img/cart.svg", alt="cart")
					.cart_num 3

// menu
.js-headerMenu.menu
	nav.menu_nav
		ul.menu_list
			li
				a(href="#") Каталог
			li
				a(href="#") О нас
			li
				a(href="#") Отзывы
			li
				a(href="#") Доставка
			li
				a(href="#") Статьи
			li
				a(href="#") Контакты
		.social
			a(href="#").social_link.img-responsive
				span.social_img.img-responsive
					img(src="img/messenger.svg", alt="messenger")
			a(href="#").social_link.img-responsive
				span.social_img.img-responsive
					img(src="img/insta.svg", alt="instagram")
		#menu-close.menu_close
// /menu

// menuCity
.js-CityMenu.menu.menu--top
	nav.menu_nav
		ul.menu_list
			li
				a(href="#") Санкт-Петербург
			li
				a(href="#") Саратов
		#menu-close.menu_close
// /menuCity

// /header