mixin modal(id,text)
  // modal
  .modal(id= id)
    form(action="").modal_body
      .modal_content
        .modal_title= text
        .modal_text Заполните форму и мы вам перезвоним
        .row
          .modal_col
            .form_field
              .form_name Ваше имя:
              .form_input
                input(type="text" name="name")
          .modal_col
            .form_field
              .form_name Ваш e-mail:
              .form_input
                input(type="text" name="tel")
          .modal_col
            .form_field
              .form_name Выбор мессенджера:
              select(name="messendger").select
                option(value="telegram" selected) telegram
                option(value="skype") skype
                option(value="viber") viber
        .form_consent
          input(type="checkbox")#modalCheckbox
          label(for="modalCheckbox").form_checkbox
          label(for="modalCheckbox").form_label Даю согласие на обработку персональных данных
        .modal_btn  
          button(type="submit").btn-red= text
      .modal_close
        .modal_close-inner
  // /modal