// modal
.modal#modal-1
  .modal_body
  .modal_title Оставить заявку
  .modal_text Заполните форму и мы вам перезвоним
  .row
    .modal_col
      
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem iusto asperiores, recusandae ducimus quis perspiciatis ad voluptatum, perferendis eligendi enim, veritatis facere. Similique aperiam, tempore quas odio, omnis repudiandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem iusto asperiores, recusandae ducimus quis perspiciatis ad voluptatum, perferendis eligendi enim, veritatis facere. Similique aperiam, tempore quas odio, omnis repudiandae? 2
    .modal_close
// /modal