// productItem
.productItem
  .wrapper
    h1.title Рапунцель s
    .row
      .productItem_col
        .productItem_slider
          .slider-product-for
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_1.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_2.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_3.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_4.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_5.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_6.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_7.jpg" alt="flower")
            .slider-product-for_img.img-responsive
              img(data-lazy="img/flower_8.jpg" alt="flower")
          .slider-product-nav
            .slider-product-nav_img
              img(data-lazy="img/flower_1.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_2.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_3.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_4.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_5.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_6.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_7.jpg" alt="flower")
            .slider-product-nav_img
              img(data-lazy="img/flower_8.jpg" alt="flower")
      .productItem_col
        form(action="").productItem_form
          .productItem_text
            .productItem_art Артикул: 546874856
            p Обращаем внимание, что состав букета может быть незначительно изменен (в связи с сезонностью и конкретной поставкой), при этом стилистика и цветовая гамма останутся неизменными.
          .productItem_color
            .productItem_title Выберите цвет:
          .productItem_size
            .productItem_title Выберите размер:
          .card_prices
            .card_old-price.rank 4529₽
            .card_price.rank 4029₽
            .card_discount-price.rank
          .productItem_btns
            button(type="submit").btn-red в корзину
            .btn-transparent.modal-trigger(data-modal="#modal-2") купить в 1 клик
//	/productItem