// productDesc
.productDesc.js-productTabs
  .wrapper
    .productDesc_menu
      ul.productDesc_list
        li(data-trigger="0").js-tabs-trigger.active
          span Полное описание
        li(data-trigger="1").js-tabs-trigger
          span Условия доставки
        li(data-trigger="2").js-tabs-trigger
          span Способы оплаты
        li(data-trigger="3").js-tabs-trigger
          span Срок хранения
    .productDesc_block#tabs_content.tabs_content
      div.show
        .productDesc_content
          p Стоимость доставки до двери по Саратову 300₽ с 06:30 до 23:00 tab1
          p Ночной тариф (23:00-06:30) - 500₽
          p Стоимость доставки в отдаленные районы рассчитывается индивидуально менеджером.
          p Доставка по Саратову и Энгельсу осуществляется в часовом интервале (кроме ночного времени суток, по ночному тарифу доставка осуществляется к точному времени).
          p Самовывоз 08:00-20:45
      div
        .productDesc_content
          p Стоимость доставки до двери по Саратову 300₽ с 06:30 до 23:00 tab2
          p Ночной тариф (23:00-06:30) - 500₽
          p Стоимость доставки в отдаленные районы рассчитывается индивидуально менеджером.
          p Доставка по Саратову и Энгельсу осуществляется в часовом интервале (кроме ночного времени суток, по ночному тарифу доставка осуществляется к точному времени).
          p Самовывоз 08:00-20:45
      div
        .productDesc_content
          p Стоимость доставки до двери по Саратову 300₽ с 06:30 до 23:00 tab3
          p Ночной тариф (23:00-06:30) - 500₽
          p Стоимость доставки в отдаленные районы рассчитывается индивидуально менеджером.
          p Доставка по Саратову и Энгельсу осуществляется в часовом интервале (кроме ночного времени суток, по ночному тарифу доставка осуществляется к точному времени).
          p Самовывоз 08:00-20:45
      div
        .productDesc_content
          p Стоимость доставки до двери по Саратову 300₽ с 06:30 до 23:00 tab4
          p Ночной тариф (23:00-06:30) - 500₽
          p Стоимость доставки в отдаленные районы рассчитывается индивидуально менеджером.
          p Доставка по Саратову и Энгельсу осуществляется в часовом интервале (кроме ночного времени суток, по ночному тарифу доставка осуществляется к точному времени).
          p Самовывоз 08:00-20:45
// /productDesc