// slider
.slider
  .js-slider

    .slider_slide
      .slider_block(style="background-image: url(img/slide_1.jpg);")
        .slider_content
          h3.slider_title Соблюдаем нормы
          p Флористы работают в перчатках и фартуках, используется качественная клубника и цветы отделяются от клубники.

    .slider_slide
      .slider_block(style="background-image: url(img/slide_2.jpg);")
        .slider_content
          h3.slider_title Ежедневные поставки клубники
          p Строго контролируем ягоду, которая попадает в букет. Ежедневные поставки круглый год!

    .slider_slide
      .slider_block(style="background-image: url(img/slide_3.jpg);")
        .slider_content
          h3.slider_title Доставка до двери
          p Доставляем композиции Вашим родным и близким прямо в руки!

    .slider_slide
      .slider_block(style="background-image: url(img/slide_4.jpg);")
        .slider_content
          h3.slider_title Контроль качества
          p Каждый букет собирает обученный флорист, а после сборки он проходит проверку. Можем прислать фото в WhatsApp

    .slider_slide
      .slider_block(style="background-image: url(img/slide_5.jpg);")
        .slider_content
          h3.slider_title Лучший шоколад
          p Мы используем только бельгийский шоколад Barry Callebaut

    .slider_slide
      .slider_block(style="background-image: url(img/slide_6.jpg);")
        .slider_content
          h3.slider_title Срок годности
          p Срок годности клубники в шоколаде - 12-14 часов, клубники без шоколада - до 24 часов.
  .slider_arrows
    .slider_arrow.slider_arrow--prev
      img(src="img/arrow-bold.svg", alt="")
    .slider_arrow.slider_arrow--next
      img(src="img/arrow-bold.svg", alt="")
//	/slider