// steps
.steps
  .wrapper
    .steps_content
      .steps_bg
      h2.steps_title Контроль заказа перед доставкой
      .steps_phone
        .steps_imgBg
        img(src="img/phone-img.png", alt="phone").js-video_phone.lazy
        video(controls)
          source(src="video/video.mp4" type="video/mp4")
      ul.steps_list
        li.steps_item
          span.steps_icon
            img(src="img/camera.svg", alt="camera")
          span.steps_text Оператор отправляет фото заказа в мессенджер
        li.steps_item
          span.steps_icon
            img(src="img/hand.svg", alt="hand")
          span.steps_text Вы утверждаете заказ или вносите изменения
        li.steps_item
          span.steps_icon
            img(src="img/shipping.svg", alt="shipping")
          span.steps_text Передаем заказ курьеру
//	/steps