// video
.video
  .wrapper
    .video_container
      .js-video_img.video_img
        img(src="img/video.jpg", alt="video").lazy
      #video_play.video_play
        img(src="img/play.svg", alt="play")
      video(controls)
        source(src="video/video.mp4" type="video/mp4")
//	/video