.callback {
  background-image: url(../img/callback.jpg);
  background-size: cover;
  background-position: right bottom;
  margin-bottom: 162px;
  .wrapper {
    padding: 170px $gutter 140px 120px;
    width: 100%;
    background-image: url(../img/callback-wooman.png);
    background-repeat: no-repeat;
    background-position: right -100px bottom;
  }
  &_form {
    width: 100%;
    max-width: 600px;
    padding: 20px 0;
  }
  &_title {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  &_text {
    margin-bottom: 40px;
  }
  .row {
    margin-left: -30px;
    margin-bottom: 10px;
  }
  &_col {
    @include col(6);
    @include col-xs(12);
    padding-left: 30px;
  }
  @media (max-width: $break_xl) {
    background-position: right -150px bottom;
  }
  @media (max-width: $break_md) {
    .wrapper {
      padding: 170px $gutter 140px $gutter;
      background-size: 60%;
    }
  }
  @media (max-width: $break_sm) {
    .row {
      max-width: 600px;
    }
    margin-bottom: 50px;
    .wrapper {
      padding: 50px $gutter 50px $gutter;
      background-image: none;
    }
    &_form {
      max-width: none;
    }
    &_title {
      font-size: 22px;
    }
  }
}