.cartResult {
  padding: 30px 40px 10px;
  background-color: $gray;
  &_title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &_countProduct {
    font-weight: 300;
  }
  &_priceProduct {
    color: $red;
  }
  &_storefront_wrap {
    padding-right: 13px;
  }
  &_storefront {
    max-height: 270px;
    overflow-y: scroll;
    margin: 0 -40px 35px;
  }
  &_storefront-in {
    padding: 0 40px;
  }
  &_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    span {
      font-size: 20px;
      color: $red;
    }
  }
  .scrollbar-inner>.scroll-element .scroll-element_track,
  .scrollbar-inner>.scroll-element .scroll-bar {
    opacity: 1;
  }
  .scrollbar-inner>.scroll-element.scroll-y {
    width: 3px;
  }
  .scrollbar-inner>.scroll-element .scroll-element_track {
    background-color: #d9d9d9;
  }
  .scrollbar-inner>.scroll-element .scroll-bar {
    background-color: $red;
  }
}