.cartWrap {
  margin-bottom: 70px;
  .title {
    margin-bottom: 45px;
  }
  &_row {
    display: flex;
    justify-content: space-between;
  }
  &_col {
    &--steps {
      width: 53%;
    }
    &--cart {
      width: 47%;
      max-width: 620px;
      padding-left: 20px;
    }
  }
  @media (max-width: $break_lg) {
    &_row {
      flex-wrap: wrap;
    }
    &_col {
      &--steps {
        width: 100%;
        margin-bottom: 50px;
      }

      &--cart {
        width: 100%;
        padding-left: 0;
      }
    }
  }
  @media (max-width: $break_sm) {
    margin-bottom: 50px;
  }
}