.cartSteps {
  &_menu {
    display: flex;
    font-size: 14px;
  }
  &_item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 55px;
    padding: 2px 5px 2px 60px;
    background-color: #F8F8F8;
    color: #000;
    position: relative;
    &:nth-child(1) {
      padding: 2px 5px 2px 50px;
      z-index: 4;
      .cartSteps_num {
        left: 15px;
      }
    }
    &:nth-child(2) {
      z-index: 3;
    }
    &:nth-child(3) {
      z-index: 2;
    }
    &:nth-child(4) {
      z-index: 1;
    }
    &.active {
      background-color: $red;
      color: #fff;
      &:after {
        background-image: url(../img/triangle-active.png);
      }
      .cartSteps_num {
        background-color: #fff;
        color: #000;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 100%;
      background-image: url(../img/triangle.png);
      background-size: 100% 100%;
      position: absolute;
      left: 100%;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &_num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 25px;
    background-color: $red;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border-radius: 50%;
    transform: translate(0,-50%);
  }
  &_form {
    display: none;
    max-width: 480px;
    padding-top: 51px;
    &.show {
      display: block;
    }
  }
  &_title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 42px;
  }
  &_row {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    &--mb20 {
      margin-bottom: 20px;
    }
    &--radio {
      margin-left: -30px;
    }
    label {
      user-select: none;
    }
  }
  &_col {
    @include col(6);
  }
  &_input {
    width: 100%;
    &--calendar {
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 1V2H2.5C1.67578 2 1 2.67578 1 3.5V12.5C1 13.3242 1.67578 14 2.5 14H12.5C13.3242 14 14 13.3242 14 12.5V3.5C14 2.67578 13.3242 2 12.5 2H12V1H11V2H4V1H3ZM2.5 3H3V4H4V3H11V4H12V3H12.5C12.7812 3 13 3.21875 13 3.5V5H2V3.5C2 3.21875 2.21875 3 2.5 3ZM2 6H13V12.5C13 12.7812 12.7812 13 12.5 13H2.5C2.21875 13 2 12.7812 2 12.5V6ZM5 7V8H6V7H5ZM7 7V8H8V7H7ZM9 7V8H10V7H9ZM11 7V8H12V7H11ZM3 9V10H4V9H3ZM5 9V10H6V9H5ZM7 9V10H8V9H7ZM9 9V10H10V9H9ZM11 9V10H12V9H11ZM3 11V12H4V11H3ZM5 11V12H6V11H5ZM7 11V12H8V11H7Z' fill='black'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translate(0,-50%);
      }
    }
    input {
      width: 100%;
      height: 64px;
      padding: 0 29px;
      border: 1px solid $bd;
      font-size: 15px;
      font-weight: 300;
      &::placeholder {
        color: #000;
      }
    }
  }
  &_checkbox {
    display: flex;
    align-items: center;
    input {
      display: none;
      &:checked {
        +label {
          &:after,&:before {
            display: block;
          }
        }
      }
    }
    label {
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border: 1px solid $bd;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        display: none;
        position: absolute;
        height: 2px;
        width: 9px;
        top: 17px;
        left: 5px;
        background-color: #000;
        transform: rotate(45deg);
        border-radius: 3px;
      }
      &:before {
        content: '';
        display: none;
        position: absolute;
        height: 2px;
        width: 19px;
        top: 13px;
        left: 8px;
        background-color: #000;
        transform: rotate(-57deg);
        border-radius: 3px;
      }
    }
  }
  &_textarea {
    width: 100%;
    textarea {
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      height: 122px;
      padding: 22px 29px;
      resize: none;
      border: 1px solid $bd;
      &::placeholder {
        color: #000;
      }
    }
  }
  &_radioBlock {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    margin-left: 30px;
    label {
      display: block;
    }
  }
  &_radio {
    margin-right: 10px;
    input {
      display: none;
      &:checked {
        +label {
          &:after {
            display: block;
          }
        }
      }
    }
    label {
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid $bd;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        display: none;
        width: 10px;
        height: 10px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  &_text {
    font-size: 15px;
    font-weight: 300;
  }
  &_btns {
    display: flex;
    margin-top: 44px;
    margin-left: -10px;
  }
  .btn-red {
    width: 100%;
    margin: 0 10px;
    max-width: 170px;
    padding: 14px 30px;
    text-align: center;
  }
  .btn-transparent {
    width: 100%;
    margin: 0 10px;
    max-width: 170px;
    padding: 14px 30px;
    text-align: center;
  }
  @media (max-width: $break_sm) {
    &_menu {
      flex-wrap: wrap;
    }
    &_item {
      width: 100%;
      &:after {
        display: none;
      }
    }
    &_title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    &_input {
      input {
        padding: 0 15px;
        height: 50px;
        font-size: 13px;
      }
    }
    &_row {
      margin-bottom: 20px;
      &--mb20 {
        margin-bottom: 10px;
      }
    }
    &_btns {
      margin-top: 30px;
    }
    &_checkbox {
      label {
        width: 24px;
        height: 24px;
        &:after {
          width: 8px;
          top: 14px;
          left: 4px;
        }
        &:before {
          width: 14px;
          top: 11px;
          left: 7px;
        }
      }
    }
    &_radio {
      label {
        width: 24px;
        height: 24px;
        &:after {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

.ui-datepicker {
  background: $gray;
  border: 1px solid $bd;
  z-index: 5 !important;
}
.ui-widget-header .ui-icon {
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5969 3.91509C12.5236 3.91728 12.4536 3.9479 12.4022 4.0015L7.00017 9.40353L1.59813 4.0015C1.54563 3.94681 1.47345 3.91728 1.39798 3.91618C1.28313 3.91728 1.18142 3.98618 1.13767 4.09118C1.09501 4.19728 1.12017 4.31759 1.2022 4.39743L6.8022 9.99744C6.91157 10.1068 7.08876 10.1068 7.19813 9.99744L12.7981 4.39743C12.8813 4.31759 12.9064 4.194 12.8627 4.0879C12.8178 3.98181 12.7128 3.9129 12.5969 3.91509Z' fill='%23000'/%3E%3C/svg%3E%0A");
}
.ui-datepicker .ui-datepicker-prev span, {
  transform: rotate(90deg);
}
.ui-datepicker .ui-datepicker-next span {
  transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-prev-hover {
  top: 2px;
  left: 2px;
  border: none;
}
.ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  right: 2px;
  border: none;
}
.ui-widget-header {
  background: $gray;
  border: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: $red;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  background: $gray !important;
  cursor: pointer;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  text-align: center;
}