.header {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  position: relative;
  z-index: 12;
  &_top {
    display: none;
    padding: 10px 0;
    .city {
      margin-left: 0;
      font-size: 12px;
    }
    .tel {
      margin-right: 0;
      font-size: 12px;
    }
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &_item {
    display: flex;
    align-items: center;
    &--left {
      width: 100%;
      max-width: 420px;
    }
    &--right {
      width: 100%;
      max-width: 420px;
      justify-content: flex-end;
    }
  }
  &.stiky {
    position: fixed;
  }
  @media (max-width: $break_md) {
    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.city {
  display: flex;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  &_icon {
    width: 14px;
    margin-left: 5px;
    transition: $trans;
    &:after {
      padding-top: 100%;
    }
  }
}
.logo {
  width: 215px;
  margin-left: 10px;
  margin-right: 10px;
  flex-shrink: 0;
  @media (max-width: $break_xl) {
    width: 150px;
  }
  @media (max-width: $break_md) {
    margin-top: -25px;
  }
  @media (max-width: $break_xs) {
    width: 100px;
  }
}
.tel {
  color: #000;
  border-bottom: 1px dashed #000;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
}
.social {
  display: flex;
  justify-content: center;
  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:after {
      padding-top: 100%;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $red;
      position: absolute;
      transform: scale(0);
      transition: $trans;
    }
    &:hover {
      &:before {
        transform: scale(1);
      }
      svg {
        fill: #fff;
      }
    }
  }
  &_img {
    display: inline-block;
    width: 18px;
    &:after {
      padding-top: 100%;
    }
    svg {
      fill: #000;
      transition: $trans;
    }
  }
  @media (max-width: $break_md) {
    &--md-hide {
      display: none;
    }
    &--md-small {
      .social_link {
        width: 30px;
      }
      .social_img {
        width: 12px;
      }
    }
  }
  @media (max-width: $break_sm) {
    &--sm-small {
      .social_link {
        width: 30px;
      }
      .social_img {
        width: 12px;
      }
    }
  }
}
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 700;
  &_price {
    white-space: nowrap;
  }
  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
    margin-left: 10px;
    &:after {
      padding-top: 100%;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $red;
      position: absolute;
      transform: scale(0);
      transition: $trans;
    }
    &:hover {
      &:before {
        transform: scale(1);
      }

      svg {
        fill: #fff;
      }
      .cart_num {
        background-color: #fff;
        color: #000;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &_img {
    width: 20px;
    &:after {
      padding-top: 100%;
    }
    svg {
      fill: #000;
      transition: $trans;
    }
  }
  &_num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: $red;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    transition: $trans;
    border-radius: 50%;
  }
  @media (max-width: $break_sm) {
    margin-left: 0;
  }
  @media (max-width: $break_xs) {
    &_price {
      display: none;
    }
  }
}