.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 30px;
	display: none;
	z-index: 10;
	overflow-y: auto;
	&_nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 100%;
		padding-bottom: 30px;
		background-color: rgba(0, 0, 0, 0.85);
		z-index: 10;
		transition: .5s;
	}
	&_list {
		text-align: center;
		li {
			display: block;
			padding: 0 5px;
			margin-bottom: 42px;
		}

		a {
			display: inline-block;
			padding: 10px 0;
			margin: 0 10px;
			text-decoration: none;
			color: #fff;
			@include line-slide-center();
			&:after {
				background-color: #fff;
				transition: $trans;
			}
		}
	}
	&_over {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .5);
		display: none;
		z-index: 9;
	}
	&_close {
		width: 44px;
		height: 44px;
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: #fff;
		border-radius: 50%;
		cursor: pointer;
		&:after,&:before {
			content: '';
			display: block;
			width: 20px;
			height: 1px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&:after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&.open {
		
	}
	@media (max-width: $break_md) {
		font-size: 22px;
		li {
			margin-bottom: 20px;
		}
	}
	@media (max-width: $break_sm) {
		font-size: 16px;
		li {
			margin-bottom: 0;
		}
	}
}
// .hamburger:hover {
// 	.hamburger-inner,
// 	.hamburger-inner:after,
// 	.hamburger-inner:before {
// 		background-color: $red;
// 	}
// }